<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Mi portafolio

    </title>
</head>

<body>
    <div class="todo">
        <div class="nav1">
            <nav>
                <ul>
                    <li><a id="ini" href="#">David Ernesto Schwindt</a></li>
                    <li><a class="nav-link" href="#">Sobre mi</a></li>
                    <li><a class="nav-link" href="#">conocimiento</a></li>
                    <li><a class="nav-link" href="#">Proyectos</a></li>
                    <li><a class="nav-link" href="#">contacto</a></li>
                </ul>
            </nav>
        </div>
        <div class="jumbotron1">
            <div id="jumbo1">
                <h1 class="display-4">Sobre Mi
                    <hr>
                </h1>
                <div id="descrip">
                    <p>Apacionado por la computacion y tecnologia desde chico. Siempre en constante aprendizaje en
                        esta era de la digitalisacion en busca de nuevos conocimiento para desarrollarme tanto
                        individualmente como en grupo en el ámbito del desarrolo web y poder aportar un poco al
                        futuro mundo digitlal
                    </p>
                </div>
            </div>


        </div>


        <div class="jumbotron1">
            <div id="jumbotron jumbotron-fluid">
                <h1 class="display-4">conocimientos
                    <hr>
                </h1>
                <div class="container">
                    <div class="conop">
                        <i class="fa fa-address-card fa-2x"></i>
                        <p class="lead">Frontend.</p>
                        <p>conocimientos basico de maquetado co wordprest y HRML5 estilisados con CSS y boostrap4
                            intereccion con javascript</p>
                        <ul>
                            <li>
                                <i class="fa fa-angle-double-right fa-2x"></i>
                                <p>HTML 5 wordprest</p>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <i class="fa fa-angle-double-right fa-2x"></i>
                                <p>CSS boostrap4</p>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <i class="fa fa-angle-double-right fa-2x"></i>
                                <p>javascript</p>
                            </li>
                        </ul>

                    </div>
                    <div class="conop">
                        <i class="fa fa-server fa-2x"></i>
                        <p class="lead">Backend.</p>
                        <p>conosimientos basico de python utilisando framewords Flask para el desarrollo Backend y un
                            orm llamdo sqlalchemi para la gestios de base 
                        </p>
                        <ul>
                            <li>
                                <i class="fa fa-angle-double-right fa-2x"></i>
                                <p>Python 3</p>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <i class="fa fa-angle-double-right fa-2x"></i>
                                <p>Framewoerd Flask</p>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <i class="fa fa-angle-double-right fa-2x"></i>
                                <p>SQLAlchemy</p>
                            </li>
                        </ul>
                    </div>
                    <div class="conop">
                        <i class="fa fa-sitemap fa-2x"></i>
                        <p class="lead">Controlador de Verciones.</p>
                        <p>manejo basico sobre el contros de verciones para poder traajar mejor en el ambito grupal
                        </p>
                        <ul>
                            <li>
                                <i class="fa fa-angle-double-right fa-2x"></i>
                                <p>Git</p>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <i class="fa fa-angle-double-right fa-2x"></i>
                                <p>Git Hub</p>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <i class="fa fa-angle-double-right fa-2x"></i>
                                <p>otros</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>    
        
        <div>  
            <div class="jumbotron1">
                <div class="jumbotron jumbotron-fluid">
                    <h1 class="display-4">Mis Proyectos <hr></h1>
                    <div class="container1">
                      <div class="proyectos">
                        <div class="card-deck">
                            <div class="one-third-padding">
                                <img src="../static/img/images.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick David  example text to build on the card title and make up the bulk of the card's
                                        content.</p>
                                    <a href="https://github.com/schwindt1989/git-manuel-alberti" class="btn btn-primary">Publicidad</a>
                                </div>
                            </div>
                            <div class="one-third-padding">
                                <img src="../static/img/images (1).jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                            <div class="one-third-padding">
                                <img src="../static/img/images (2).jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                      </div>
                  </div>
                </div>
        </div>
        
        <div>
            <footer>
                <div>
                    <div>
                        <div class="icon-text-text">
                            <ul class="social">
                                <li>
                                    <a href="mailto:contact@faztweb.com">
                                        <!-- etiqueta a para crear un enlace o link-->
                                        <i class="fa fa-envelope-o"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://facebook.com/fazttech">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://twitter.com/fazttech">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://youtube.com/fazttech">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
            </div>
            </footer>
        </div>
    
    </div>    











</body>

</html>